<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Find Artists</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>Gyft</strong></a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/recruiter">Recruiter Dashboard</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Main -->
		<br>
		<h2 style="margin-left:500px;">Select Artists by specialty</h2>


		<div id="myBtnContainer">

		  <form action="/showall" method="post" style="display:inline-block">
		      <button class="btn active" name="showall"  type="submit"> Show All</button>
		  </form>
		  <form action="/illustrator" method="post" style="display:inline-block">
		      <button class="btn" name="illustrator"  type="submit"> Illustrator</button>
		  </form>

		  <form action="/digital" method="post" style="display:inline-block">
		      <button class="btn" name="digital"  type="submit"> Digital Designer</button>
		  </form>

		  <form action="/photographer" method="post" style="display:inline-block" style="display:inline-block">
		      <button class="btn" name="photographer"  type="submit"> Photographer</button>
		  </form>
		  <form action="/filmmaker" method="post" style="display:inline-block">
		      <button class="btn" name="filmmaker"  type="submit"> Filmmaker</button>
		  </form>

		  <form action="/graphic" method="post" style="display:inline-block">
		      <button class="btn" name="graphic"  type="submit"> Graphic Designer </button>
		  </form>


		  </div>

<br>
	<div class="table-wrapper" style="width:1200px;margin-left:100px">
		<h1>Our artists</h1>

	<table>
			<thead>
				<tr>
					<th scope="col">Serial</th>
					<th scope="col">First Name </th>
					<th scope="col">Last Name</th>
					<th scope="col">Email</th>
					<th scope="col">Domain</th>
					<th scope="col">Experience</th>
				</tr>
			</thead>
			<tbody id="myTable">
				{% for item in freelancers %}
				<tr>
					<td>{{item["id"]}}</td>
					<td>{{item["first_name"]}}</td>
					<td>{{item["last_name"]}}</td>
					<td>{{item["email"]}}</td>
					<td>{{item["domain"]}}</td>
					<td>{{item["experience"]}}</td>
				</tr>
				{% endfor %}


			</tbody>
		</tbody>
	</table>
</div>



		<!-- Footer -->
		<br>
		<br>
		<br>

			<footer id="footer">
				<div class="inner">




					<div class="copyright">
						&copy; Gyft 2019
					</div>
					<br>
					<br>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>
