<!DOCTYPE HTML>
<html>
   <head>
      <title>Create Projects </title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="static/css/main.css" />
   </head>
   <body class="subpage">
      <!-- Header -->
      <header id="header">
         <div class="inner">
            <a href="/" class="logo"><strong>Gyft</strong></a>
            <nav id="nav">
               <a href="/recruiter">Dashboard</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
         </div>
      </header>
      <!-- Main -->
      <section id="main" class="wrapper">
      <div class="inner">
      <header class="align-center">
         <h2>Create new projects</h2>
         <p> Thank you for your interest in working with us<br> Please fill out the necessary details to post your requirement on our website.<br>We shall connect you to several deserving candidates.</p>
      </header>
      <div style="margin-left:380px;">
         <form role="form" method="post" id="reused_form"  >
            <div class="row uniform">
               <div class="6u 12u$">
                  <input type="text" class="form-control" id="project_title" name="project_title" required maxlength="50" placeholder="Project Title">
               </div>
               <div class="6u 12u$">
                  <input type="email" class="form-control" id="email" required maxlength="50" name ="contact_email" placeholder="Contact Email">
               </div>
               <div class="6u 12u$">
                  <textarea class="form-control" type="textarea" name="project_des" id="desc" placeholder="Detailed Description of the Project" maxlength="6000" rows="7"></textarea>
               </div>
               <div class="6u 12u$">
                  <div class="select-wrapper">
                     <label for="skill_level" style="text-align:left; float: left; color:#485058"> </label>
                     <select name="skill_level" class="form-control" placeholder="Select your discipline" id="skill_level">
                        <option value="">Select your desired skill level </option>
                        <option value = "beginner">Beginner</option>
                        <option value = "learner">Learner</option>
                        <option value = "skilled">Skilled</option>
                        <option value = "expert">Expert</option>
                        <option value = "advisory">Advisory</option>
                     </select>
                  </div>
               </div>
               <div class="6u 12u$">
                  <button type="submit" style="margin-left:200px;" id="btnContactUs">Post It! &rarr;</button>
               </div>
            </div>
         </form>
      </div>
      <!-- Scripts -->
      <script src="static/js/jquery.min.js"></script>
      <script src="static/js/skel.min.js"></script>
      <script src="static/js/util.js"></script>
      <script src="static/js/main.js"></script>
   </body>
</html>
