<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Recruiter Sign Up</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body class="subpage">


					<section id="main" class="wrapper">
						<div class="inner">
							<header class="align-center">
								<h2>Join our Recruiter Pool</h2>
								<p> Let us know more about you :) </p>
							</header>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><strong>Gyft</strong></a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/login">Sign In</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Main -->

        <div style="width:800px; margin-left:400px;">
		    <form  action="/recruiter_signup" method="POST">
					<div class="row uniform">


						<div class="6u 12u$">
		        <label for="username" class="sr-only">username</label>
		        <input type="Text" id="username" class="form-control" placeholder="Username" required autofocus name="username">
					</div>
					<div class="6u 12u$">

		        <label for="email" class="sr-only">Email address</label>
		        <input type="email" id="email" class="form-control" placeholder="Email address" required autofocus name="email">
					</div>
					<div class="6u 12u$">

		        <label for="password" class="sr-only">Password</label>
		        <input type="password" id="password" class="form-control" placeholder="Password" required name="password">
					</div>

		            <br>
					<div class="6u 12u$(xsmall)">

		            <input type="submit" value="Submit" class="btn btn-info">
								{% with messages = get_flashed_messages(with_categories=true) %}
								{% for category, message in messages %}
								<div class="{{ category }}" style="margin-left:110px; margin-top:15px">{{ message }}</div>
								{% endfor %}
								{% endwith %}



		        </div>
					</div>

		    </form>
			</div>



			<br>








		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>
